Create a python 3 script which will download data from Yahoo Finance, Date, High, Low, Open, Close, Adj Close, Volume for each ticker found in a file found in the same directory as this python script, ignore cell A1. 

Python 3 will create a file for each ticker, using a heading of Date, High, Low, Open, Close, Adj Close, Volume in the first row. Each file will be named as the ticker symbol. If the file is already created, update with missing data up to the last closing date. All ticker files will be comma separated values. Save the file in a directory called tickers inside the same directory as yf.py. If the file existed, add the latest data. If the data is up to date ignore and move to the next ticker.
When the script is launched open a dialog box that will ask for the file containing ticker symbols. Download data going back 5 years. For files already created in the tickers folder, only add the missing data up to the latest trading day. Software will be created using Visual Studio Code.  Round data to 4 places post decimal. Use date format of mm-dd-yyyy. Column A shall be used as an index column. Column I shall be labeled 'daily_return' and column J shall be labeled 'cum_return'.  Add the necessary columns for the Ichimoku diagram. Column K will have Span A, column L will have Span B, column N will have Lagging line, column O will have Conversion line, column P will have Base line. In column q place the MACD, in with the MACD signal line in the next column. Create a column using the RSI indicator using a 13 day period and a column with the stochastic indicator using a 13 day indicator. 